<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom top-nav-regular">

    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="avatar-container">
        <div class="avatar-img-border">
            <a href="{{ "/" | relative_url }}">
                <img alt="Navigation bar avatar" class="avatar-img" src="/assets/img/tortoise.png">
            </a>
        </div>
    </div>

</nav>