<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom top-nav-regular">

    <a class="navbar-brand" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="avatar-container">
        <div class="avatar-img-border">
            <a href="{{ "/" | relative_url }}">
                <img alt="Navigation bar avatar" class="avatar-img" src="/assets/img/tortoise.png">
            </a>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/about">আমাদের কথা</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.android_appstore_link }}" target="_blank">
                    <img class="mg-fluid" src="/assets/img/mobile-app.png" height="20" width="20">
                    অ্যানড্রয়েড অ্যাপ
                </a>
            </li>
        </ul>
    </div>

</nav>