---
layout: codebangladesh-default
---

<header class="header-section">
    <div class="intro-header no-img">
        <div class="container-md">
            <div class="row d-flex flex-wrap align-items-center">
                <div class="page-subheading">
                    <h1>
                        <img class="img-fluid" height="60" src="{{ page.course.image_source }}" width="60">&nbsp;
                        {{ page.course.name | escape }}
                    </h1>
                    <p class="mb-1">
                        {{ page.course.description }}
                    </p>
                    <p class="mb-1">
                        কনটেন্টটি নেয়া হয়েছে:
                        {% for instructor in page.course.instructors %}
                        <small><a href="{{ instructor.link }}" target="_blank">{{ instructor.name }}</a>{% if forloop.last %}{% else %}, {% endif %}</small>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="row"><br></div>

<div class="list-group">
    {% for content in page.course.content %}
    <a href="{{ content.video_link }}" target="_blank"
       class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ content.name }}</h5>
            <small class="text-muted"><img class="img-fluid" height="20" src="/assets/img/youtube.png" width="20"></small>
        </div>
        <small class="text-muted">
            {{ content.description }}
        </small>
    </a>
    {% endfor %}
</div>
