---
layout: codebangladesh-default
---

<header class="header-section">
    <div class="intro-header no-img">
        <div class="container-md">
            <div class="row">
                <div class="page-heading">
                    <h1>{{ site.header_text }}</h1>
                    <hr class="small">
                    <span class="page-subheading">{{ site.description }}</span>
                    <span class="page-subheading">
                        <img class="mg-fluid" src="/assets/img/mobile-app.png" height="35" width="35">
                        অ্যানড্রয়েড অ্যাপ <a href="{{ site.android_appstore_link }}" target="_blank">ইন্সটল</a> করুন।
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row"><br></div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
    {% for category in site.data.pretty_categories %}
    {% if site.data.pretty_category_courses[category.id].size > 0 %}
    <div class="col mb-4" style="min-width: 19rem">
        <div class="card" style="min-height: 19rem">
            <div class="card-body">
                <h5><img class="img-fluid" src="{{ category.image_source }}" height="35" width="35">
                <a class="card-title" href="{{ category.id | append: '-courses' | relative_url }}">
                    {{ category.name | escape }}
                </a></h5>
                <div class="card-text" style="padding-top: 10px">
                    <span>{{ category.description }}</span><br><br>
                    <small><img class="mg-fluid" height="20" src="/assets/img/learning.png" width="20">
                        {{ category.number_of_courses }}টি কোর্স
                    </small>&nbsp;
                    <small><img class="mg-fluid" height="20" src="/assets/img/youtube.png" width="20">
                        {{ category.number_of_videos }}টি ভিডিও
                    </small><br>
                    <small><img class="mg-fluid" height="20" src="/assets/img/book.png" width="20">
                        {{ category.number_of_topics }}টি টপিকস
                    </small>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>


